[submodule "external/unbound"]
	path = external/unbound
	url = https://github.com/PrivatePay-Reborn/unbound.git
[submodule "external/miniupnp"]
	path = external/miniupnp
	url = https://github.com/PrivatePay-Reborn/miniupnp
